<div id='connect-block' class='hidden_block'>
  <div id='remotesVideos'></div>
  <video id='localVideo'></video>

  <button id='stopVideoButton' class="btn btn-default glyphicon glyphicon-facetime-video"></button>
  <button id='muteButton' class="btn btn-default glyphicon glyphicon-volume-up"></button>
</div>
