<h2 id='dashboard'>Contact List</h2>

<% if users.any? %>
  <div class='col-sm-4 col-sm-offset-3'>
    <table class="table">
      <thead>
        <tr>
          <th>User Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <% users.all.each do |user| %>
          <tr>
            <td><%= user.name %></td>
            <td>
              <% next if @current_user.id == user.id %>

              <button class='make_call btn btn-primary pull-right'
                data-callee-name="<%= user.name %>"
                data-callee-id="<%= user.id %>"
              >
                <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                Call
              </button>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>

<%= render 'modal_window' %>
